body {
    margin: 0; padding: 1em;
}

.container {
    width: 90%;
    margin: 0 auto; 
    padding: 1em;
}

#input{
    width: 900px;
}

/*#chart {
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: scroll;
    width: 400px;
}*/