html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#input{
  position: relative;
  margin: 0 auto;
  padding-top: 0.5em;
  max-width: 18%;
  min-width: 21em;
  min-height: 20em;
  max-height: 30%;
}

#burger{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  margin: 0.5em;
}

#burger_content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#burger_content span{
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}

#burger:hover #burger_content{
  display: block;
  cursor: pointer;
}

#switch {
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  min-width: 20em;
}

#chart {
  width: 100%;
  height: 60%;
}

input, select {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #0057e7;
}

input{
  width:  95%;
}

select {
  padding-left: 5px;
  border:1px solid #0057e7;
  background: white;
}

#input div {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em;
}

#switch ul {
  padding: 0;
  margin: 0;
}

#switch ul li {
  width: 5.5em;
  display: inline-block;
  text-align: center;
}

#switch ul li label {
  display: inline-block;
}

#switch ul li input {
  display: inline-block;
  width: 1em;
}

#switch div {
  float: left;
}

input[type="date"] {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

button {
  display: inline-block;
  padding: 5px 25px;
  font-size: 22px;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.8;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #0057e7;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

button:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

button:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

#loading img{
  margin: 0 auto;
  position: relative;
  visibility: hidden;
  padding-top: 10%;
  width: 64px;
  display: inline-block;
}

datalist { 
    display: visible !important;
}